#header {
  padding: 0 20px;
  //   border-bottom: 1px solid var(--color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  #logo {
    height: 60px;
  }

  #social_accounts {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
}

@media screen and (max-width: 850px) {
  #header {
    flex-direction: column;
    padding-top: 40px;

    #social_accounts {
      max-width: 100%;
    }
  }
}
