.media-message {
  background: white;
  width: calc(97% / 3);
  padding-top: 32%;
  border-radius: 2px;
  position: relative;
  margin: 0.5%;
  float: left;

  background-size: cover;
  background-position: center;

  @media screen and (max-width: 500px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    min-height: 40px;
  }

  div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    background: rgba(0, 0, 0, 0.6);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 400ms;
  }

  &:hover div {
    color: var(--link-color);
    transition: all 400ms;

    height: 100%;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.8);
  }

  span {
    position: absolute;
    left: 0;
    bottom: 4px;
    right: 0;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    opacity: 0;
    font-size: 12px;

    transition-delay: 200ms;
    transition: opacity 400ms;
  }

  &:hover span {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 200ms;
  }
}
