html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  color: var(--color);
}

a {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
