:root {
  --font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  // Dark theme by default
  --background: hsl(197deg 100% 12%);
  --color: white;
  --link-color: var(--color);
  --logo-color: var(--color);

  --chat-bubble-ingoing-background: white;
  --chat-bubble-ingoing-text: black;
  --chat-bubble-outgoing-background: hsl(197deg 100% 7%);
  --chat-bubble-outgoing-text: white;

  --hover-background: var(--chat-bubble-outgoing-background);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: hsl(197deg 100% 98%);
    --color: black;
    --link-color: var(--color);

    --chat-bubble-ingoing-background: lightgrey;
    --chat-bubble-ingoing-text: black;

    --chat-bubble-outgoing-background: hsl(197deg 100% 26%);
    --chat-bubble-outgoing-text: white;
    --chat-bubble-outgoing-link-color: #fff;

    --hover-background: var(--chat-bubble-ingoing-background);
  }
}
